*{
    box-sizing: border-box;

}

ul{
    list-style:none;

}

header{
    height: 76px;
    position:absolute;
    display: flex;
    align-items: center;
        
    width: 90%;
    margin: 0 5% 0 5%;
}

#headerList{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

#headerList li{
    padding:10px;
}
header li a{
    color: #000;
    text-decoration: none;
   }

/*

the end of the header part


*/
body {
    background-color:#F6FDED;
    margin: 0 0 0 0;
   }



   span{
    color: green;
}
h1{
text-align: center;
align-items: center;
}
#Welcome{
    height: 720px;
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items:center;
    background-image: url(background1.jpg);
    background-repeat: no-repeat;
    
}
/*

the end of the welcome part


*/




#GroupNames{
       display: flex;
       justify-content: center;
       text-align-last: center;

       height: 320px;
    width: 100%;    
    background-image: url(background2.jpg);
    background-repeat: no-repeat;
    color:rgb(23, 103, 165);
    font-family: 'Tangerine', serif;
     text-shadow: 4px 4px 4px #aaa;
    }

#GroupNames ul{
    width: 50%;
    margin: 0 25% 0 25%;
    border-radius: 20px;
    justify-content: center;
    text-align-last: center;
    font-size: 27px;
    
    }



/*
the end of the groupname part
*/




#info{
       width: 100%;
       background-color: #adcbe3 ;
       margin-top: 0;
       border: 1px solid #adcbe3;
}
#threeCards{
    display: flex;
    justify-content: space-evenly;

}

.individualInfo{
    width:25%;
  border-radius: 20px;
    text-align: center;
    background-color: azure;
}

.individualInfo ul li{
    width: fit-content;
    justify-content: flex-start;
    justify-items: center;

}

li img{
    margin: 0 5px 0 0;

}


#info p,h1{
    text-align: center;
    justify-content: center;
    width: 100%;
}  

.individualInfo>img{
    height: fit-content;
    border: 1px solid black;
    border-radius: 50%;
}





#another h1,h2{
    text-align: center;
    
}
#another img{
    width:60%;
    margin-left: 20%;
}
